<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class = "row">
	<div class="booyah-box col-xs-6 col-xs-offset-1">
		<h1> Upcoming Tournaments </h1><br />

		<% @tournaments.each do |tournament| %>
  			<div>
			    <h1><%= link_to tournament.name, tournament_path(tournament) %></h1><br />
			    <center>
			    <i><%= tournament.address %></i><br />
			    <p><%= tournament.description %></p><br />
			    </center>
  			</div>

  			<hr />
  		<% end %>



	</div>
	<div class ="booyah-box col-xs-3 col-xs-offset-1">
		<h1>Tournaments Near you</h1>
	</div>
</div>

