.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #FFFFFF;
  border: 1px solid #fff;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

body {
	background: url('')
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
	
}

main, ul {
  display:flex;
}

ul {
  flex-direction:column;
  width: 200px;
  list-style:none;
  padding:0;
}

.game + li {
  flex-grow:1;
}

li:first-child,li:last-child {
  flex-grow:.5;
}

.game {
  padding-left:20px;
}

.winner {
  font-weight:bold;
}

.game span {
  float:right;
  margin-right:5px;
}

.game-top {
  border-bottom:1px solid #aaa;
}

.game-top + li {
  border-right:1px solid #aaa; min-height:40px;
}

.game-bottom {
  border-top:1px solid #aaa;
}